<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%= pageTitle %></title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body class="bg-dark">
  <div class="container bg-light text-dark">
    <!-- BEGIN: NAVIGATION -->
    <nav class="navbar navbar-expand-md border-bottom">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- END: NAVIGATION -->


    <div class="row text-center m-4">
      <div class="col">
        <h1><%= pageHeader %></h1>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-lg-8">

        <form action="/api/ingredients" method="POST" autocomplete="off">

          <div class="form-group row">
            <label for="name" class="col-3 col-form-label">Name</label>
            <div class="col-9">
              <input type="text" class="form-control" name="name" placeholder="Honey Roasted Peanuts" />
            </div>
          </div>

          <div class="form-group row">
            <label for="brand" class="col-3 col-form-label">Brand</label>
            <div class="col-9">
              <input type="text" class="form-control" name="brand" placeholder="President's Choice" />
            </div>
          </div>

          <div class="form-group row">
            <label for="servingText" class="col-3 col-form-label">Serving</label>
            <div class="col-sm-5 mb-sm-1 mb-md-0 pr-sm-1">
              <input type="text" class="form-control" name="servingText" placeholder="Per 1/3 cup (50g)" />
            </div>
            <div class="col-sm-2 mb-sm-1 mb-md-0 px-sm-1">
              <input type="text" class="form-control" name="servingAmount" placeholder="50" />
            </div>
            <div class="col-sm-2 mb-sm-1 mb-md-0 pl-sm-1">
              <select class="form-control" name="servingUnit">
                <option disabled class="bg-dark text-white">Solids</option>
                <option selected>g</option>
                <option>kg</option>
                <option>lbs</option>
                <option>tsp</option>
                <option>tbsp</option>
                <option disabled class="bg-dark text-white">Liquids</option>
                <option>oz</option>
                <option>mL</option>
                <option>L</option>
                <option>fl oz</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="calories" class="col-8 col-sm-3 col-form-label">Calories</label>
            <div class="col-4 col-sm-9">
              <input type="number" class="form-control" name="calories" placeholder="300" />
            </div>
          </div>

          <div class="form-group row">
            <label for="fat" class="col-8 col-sm-3 col-form-label">Total Fat (g)</label>
            <div class="col-4 col-sm-9">
              <input type="number" step="0.01" class="form-control" name="fat" placeholder="21" />
            </div>
          </div>

          <div class="form-group row">
            <label for="fatSaturated" class="col-8 col-sm-3 col-form-label">Saturated (g)</label>
            <div class="col-4 col-sm-9">
              <input type="number" step="0.01" class="form-control" name="fatSaturated" placeholder="3.5" />
            </div>
          </div>

          <div class="form-group row">
            <label for="fatTrans" class="col-8 col-sm-3 col-form-label">Trans (g)</label>
            <div class="col-4 col-sm-9">
              <input type="number" step="0.01" class="form-control" name="fatTrans" placeholder="0" />
            </div>
          </div>

          <div class="form-group row">
            <label for="cholesterol" class="col-8 col-sm-3 col-form-label">Cholesterol (mg)</label>
            <div class="col-4 col-sm-9">
              <input type="number" class="form-control" name="cholesterol" placeholder="0" />
            </div>
          </div>

          <div class="form-group row">
            <label for="sodium" class="col-8 col-sm-3 col-form-label">Sodium (mg)</label>
            <div class="col-4 col-sm-9">
              <input type="number" class="form-control" name="sodium" placeholder="55" />
            </div>
          </div>

          <div class="form-group row">
            <label for="carbs" class="col-8 col-sm-3 col-form-label">Carbohydrates (g)</label>
            <div class="col-4 col-sm-9">
              <input type="number" class="form-control" name="carbs" placeholder="17" />
            </div>
          </div>

          <div class="form-group row">
            <label for="fiber" class="col-8 col-sm-3 col-form-label">Fiber (g)</label>
            <div class="col-4 col-sm-9">
              <input type="number" class="form-control" name="fiber" placeholder="3" />
            </div>
          </div>

          <div class="form-group row">
            <label for="sugar" class="col-8 col-sm-3 col-form-label">Sugar (g)</label>
            <div class="col-4 col-sm-9">
              <input type="number" class="form-control" name="sugar" placeholder="7" />
            </div>
          </div>

          <div class="form-group row">
            <label for="protein" class="col-8 col-sm-3 col-form-label">Protein (g)</label>
            <div class="col-4 col-sm-9">
              <input type="number" class="form-control" name="protein" placeholder="10" />
            </div>
          </div>

          <!--Other fields-->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

  </div>

</body>

</html>